.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
}

.product{
    border: 1px solid #007eb94e;
    position: relative;
}

.product_descr{
    font-weight: 600;
    margin-left: 15px;
}

.product_title{
    font-weight: 700;
}

.product_btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_btn {
    border: none;
    border-radius: 5px;
    background-color: #007eb9;
    color: white;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.card_btn:hover{
    background-color: #23a4e0;
}

.close_btn{
    cursor: pointer;
    background-color: #007eb9;
    border-radius: 5px;
    border: none;
    color: white;
    position: absolute;
    top: 2px;
    right: 2px;
}

.close_btn:hover{
    background-color: #23a4e0;
}

.prod_img{
    margin-top: 22px;
}