.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_actions{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.header_logo{
    margin: 30px;
}

.nav_link{
    text-decoration: none;
    color:black;
}